/Repaso_Diciembre/nbproject/private/
/ParcialEstacionamiento/nbproject/private/
/ParcialSupermercado/nbproject/private/
/ParcialSupermercado/build/
/ParcialEstacionamiento/build/
/ParcialTurnoC/nbproject/private/
/ParcialTurnoC/build/
/ParcialTurnoC_Tema2/nbproject/private/
/ParcialTurnoC_Tema2/build/
/ParcialTurnoB_Tema1/nbproject/private/
/ParcialTurnoB_Tema1/build/
/ParcialTurnoM/nbproject/private/
/ParcialTurnoM/build/